<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <ros2_control name="BipedSystem" type="system">
    <hardware>
      <plugin>gz_ros2_control/GazeboSimSystem</plugin>
    </hardware>

    <joint name="l_abduction">
      <command_interface name="position"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>

    <joint name="l_hip_roll">
      <command_interface name="position"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>

    <joint name="l_knee_roll">
      <command_interface name="position"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>

    <joint name="r_abduction">
      <command_interface name="position"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>

    <joint name="r_hip_roll">
      <command_interface name="position"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>

    <joint name="r_knee_roll">
      <command_interface name="position"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>

    <joint name="l_foot_roll">
    <command_interface name="position"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>

    <joint name="r_foot_roll">
    <command_interface name="position"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>

  </ros2_control>


  <gazebo reference="l_abduction"><provideFeedback>true</provideFeedback></gazebo>
  <gazebo reference="l_hip_roll"><provideFeedback>true</provideFeedback></gazebo>
  <gazebo reference="l_knee_roll"><provideFeedback>true</provideFeedback></gazebo>
  <gazebo reference="l_foot_roll"><provideFeedback>true</provideFeedback></gazebo>

  <gazebo reference="r_abduction"><provideFeedback>true</provideFeedback></gazebo>
  <gazebo reference="r_hip_roll"><provideFeedback>true</provideFeedback></gazebo>
  <gazebo reference="r_knee_roll"><provideFeedback>true</provideFeedback></gazebo>
  <gazebo reference="r_foot_roll"><provideFeedback>true</provideFeedback></gazebo>
  
</robot>