<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <gazebo>
    <plugin
      filename="gz_ros2_control-system"
      name="gz_ros2_control::GazeboSimROS2ControlPlugin">

      <!-- IMPORTANT: absolute path avoids find()/env issues -->
      <parameters>
        /home/vismay/ros2_ws/install/biped_moveit_config/share/biped_moveit_config/config/biped/ros2_controllers.yaml
      </parameters>

    </plugin>
  </gazebo>

</robot>
