<?xml version="1.0" ?>
<robot name="biped" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find biped_description)/urdf/robots/materials.xacro" />
<xacro:include filename="$(find biped_description)/urdf/robots/biped.ros2control" />
<xacro:include filename="$(find biped_description)/urdf/robots/biped.gazebo" />
<xacro:include filename="$(find biped_description)/urdf/control/biped_ros2_control.urdf.xacro"/>
<xacro:include filename="$(find biped_description)/urdf/control/gazebo_sim_ros2_control.urdf.xacro"/>

<link name="base_link">
  <inertial>
    <origin xyz="-0.030000000000000387 -0.057942318207656995 0.0017019536789480547" rpy="0 0 0"/>
    <mass value="0.44745204814551776"/>
    <inertia ixx="0.000206" iyy="0.000653" izz="0.000555" ixy="0.0" iyz="7e-06" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find biped_description)/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find biped_description)/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="l_hip_link_1">
  <inertial>
    <origin xyz="-0.02430149749802596 0.03928146808593846 3.6807072151787015e-05" rpy="0 0 0"/>
    <mass value="0.20396927834762796"/>
    <inertia ixx="8.1e-05" iyy="6.1e-05" izz="7.1e-05" ixy="4e-06" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.05986 0.04025 0.0003" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find biped_description)/meshes/l_hip_link_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.05986 0.04025 0.0003" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find biped_description)/meshes/l_hip_link_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="l_hip_roll__1">
  <inertial>
    <origin xyz="-0.02596578877638181 0.040055930981735204 -0.06312890393675653" rpy="0 0 0"/>
    <mass value="0.28302671867800727"/>
    <inertia ixx="0.000807" iyy="0.000697" izz="0.0002" ixy="1.4e-05" iyz="0.000225" ixz="-4.3e-05"/>
  </inertial>
  <visual>
    <origin xyz="0.10186 -2.7e-05 0.000256" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find biped_description)/meshes/l_hip_roll__1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.10186 -2.7e-05 0.000256" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find biped_description)/meshes/l_hip_roll__1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="l_knee_link_1">
  <inertial>
    <origin xyz="-0.019576444185569586 -0.05041258328103008 -0.10359275990065434" rpy="0 0 0"/>
    <mass value="0.0412087002638959"/>
    <inertia ixx="0.000249" iyy="0.000199" izz="5.4e-05" ixy="-1e-06" iyz="-9.3e-05" ixz="-2e-06"/>
  </inertial>
  <visual>
    <origin xyz="0.149344 -0.09425 0.211384" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find biped_description)/meshes/l_knee_link_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.149344 -0.09425 0.211384" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find biped_description)/meshes/l_knee_link_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="r_hip_link_1">
  <inertial>
    <origin xyz="0.02430149749802586 0.03928146808593818 3.680707215000177e-05" rpy="0 0 0"/>
    <mass value="0.20396927834762757"/>
    <inertia ixx="8.1e-05" iyy="6.1e-05" izz="7.1e-05" ixy="-4e-06" iyz="0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.00014 0.04025 0.0003" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find biped_description)/meshes/r_hip_link_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.00014 0.04025 0.0003" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find biped_description)/meshes/r_hip_link_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="r_hip_roll__1">
  <inertial>
    <origin xyz="0.025965788776379665 0.040055930981735106 -0.06312890393675963" rpy="0 0 0"/>
    <mass value="0.2830267186780068"/>
    <inertia ixx="0.000807" iyy="0.000697" izz="0.0002" ixy="-1.4e-05" iyz="0.000225" ixz="4.3e-05"/>
  </inertial>
  <visual>
    <origin xyz="-0.04186 -2.7e-05 0.000256" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find biped_description)/meshes/r_hip_roll__1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.04186 -2.7e-05 0.000256" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find biped_description)/meshes/r_hip_roll__1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="r_knee_link_1">
  <inertial>
    <origin xyz="0.01957644594988535 -0.05041114422946669 -0.10359401216545042" rpy="0 0 0"/>
    <mass value="0.04120867834471891"/>
    <inertia ixx="0.000249" iyy="0.000199" izz="5.4e-05" ixy="1e-06" iyz="-9.3e-05" ixz="2e-06"/>
  </inertial>
  <visual>
    <origin xyz="-0.089344 -0.09425 0.211384" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find biped_description)/meshes/r_knee_link_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.089344 -0.09425 0.211384" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find biped_description)/meshes/r_knee_link_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<joint name="l_abduction" type="revolute">
  <limit lower="-2.5" upper="2.5" effort="4.1" velocity="45.5"/>
  <origin xyz="-0.05986 -0.04025 -0.0003" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="l_hip_link_1"/>
  <axis xyz="0.0 1.0 0.0"/>
  <dynamics damping="0.01" friction="0.06"/>
</joint>

<joint name="l_hip_roll" type="revolute">
  <limit lower="-2.5" upper="2.5" effort="4.1" velocity="45.5"/>
  <origin xyz="-0.042 0.040277 4.4e-05" rpy="0 0 0"/>
  <parent link="l_hip_link_1"/>
  <child link="l_hip_roll__1"/>
  <axis xyz="-1.0 0.0 0.0"/>
  <dynamics damping="0.01" friction="0.06"/>
</joint>

<joint name="l_knee_roll" type="revolute">
  <limit lower="-2.5" upper="2.5" effort="4.1" velocity="45.5"/>
  <origin xyz="-0.047484 0.063923 -0.222186" rpy="0 0 0"/>
  <parent link="l_hip_roll__1"/>
  <child link="l_knee_link_1"/>
  <axis xyz="-1.0 0.0 0.0"/>
  <dynamics damping="0.01" friction="0.06"/>
</joint>


<joint name="r_abduction" type="revolute">
  <limit lower="-2.5" upper="2.5" effort="4.1" velocity="45.5"/>
  <origin xyz="-0.00014 -0.04025 -0.0003" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="r_hip_link_1"/>
  <axis xyz="0.0 1.0 0.0"/>
  <dynamics damping="0.01" friction="0.06"/>
</joint>

<joint name="r_hip_roll" type="revolute">
  <limit lower="-2.5" upper="2.5" effort="4.1" velocity="45.5"/>
  <origin xyz="0.042 0.040277 4.4e-05" rpy="0 0 0"/>
  <parent link="r_hip_link_1"/>
  <child link="r_hip_roll__1"/>
  <axis xyz="1.0 0.0 0.0"/>
  <dynamics damping="0.01" friction="0.06"/>
</joint>

<joint name="r_knee_roll" type="revolute">
  <limit lower="-2.5" upper="2.5" effort="4.1" velocity="45.5"/>
  <origin xyz="0.047484 0.063923 -0.222186" rpy="0 0 0"/>
  <parent link="r_hip_roll__1"/>
  <child link="r_knee_link_1"/>
  <axis xyz="1.0 0.0 0.0"/>
  <dynamics damping="0.01" friction="0.06"/>
</joint>


<gazebo reference="l_knee_link_1">
  <mu1>0.9</mu1>
  <mu2>0.9</mu2>
  
  <kp>100000.0</kp> 
  <kd>1.0</kd> 
  
  <minDepth>0.001</minDepth>  
  <maxVel>0.1</maxVel>        
</gazebo>

<gazebo reference="r_knee_link_1">
  <mu1>0.9</mu1>
  <mu2>0.9</mu2>
  <kp>100000.0</kp>
  <kd>1.0</kd>
  <minDepth>0.001</minDepth>
  <maxVel>0.1</maxVel>
</gazebo>

<gazebo reference="base_link">
  <sensor name="biped_imu" type="imu">
    <always_on>true</always_on>
    <update_rate>100</update_rate>
    <visualize>true</visualize>
    <topic>imu</topic>
    <plugin name="gz::sim::systems::Imu" filename="gz-sim-imu-system">
    </plugin>
  </sensor>
</gazebo>

</robot>