<?xml version="1.0" ?>
<robot name="biped" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find biped_description)/urdf/robots/materials.xacro" />
<xacro:include filename="$(find biped_description)/urdf/robots/biped.ros2control" />
<xacro:include filename="$(find biped_description)/urdf/robots/biped.gazebo" />
<xacro:include filename="$(find biped_description)/urdf/control/biped_ros2_control.urdf.xacro"/>
<xacro:include filename="$(find biped_description)/urdf/control/gazebo_sim_ros2_control.urdf.xacro"/>

<link name="base_footprint"/>

<joint name="base_joint" type="fixed">
  <parent link="base_footprint"/>
  <child link="base_link"/>
  <origin xyz="0 0 0" rpy="0 0 0"/>
</joint>

<link name="base_link">
  <inertial>
    <origin xyz="-0.0300 -0.0597 0.0048" rpy="0 0 0"/>
    <mass value="0.596469253198544"/>
    <inertia ixx="0.000407" iyy="0.001026" izz="0.000804" ixy="0.0" iyz="1.4e-05" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find biped_description)/meshes/biped_280/visual/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find biped_description)/meshes/biped_280/visual/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </collision>
</link>

<link name="l_hip_link_1">
  <inertial>
    <origin xyz="-0.0219 0.0369 3.38e-05" rpy="0 0 0"/>
    <mass value="0.23839991097458857"/>
    <inertia ixx="0.000111" iyy="8.4e-05" izz="0.00011" ixy="1e-05" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.05986 0.04025 0.0003" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find biped_description)/meshes/biped_280/visual/l_hip_link_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.05986 0.04025 0.0003" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find biped_description)/meshes/biped_280/visual/l_hip_link_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </collision>
</link>

<link name="l_hip_roll__1">
  <inertial>
    <origin xyz="-0.0289 0.0315 -0.0777" rpy="0 0 0"/>
    <mass value="0.4778310159751661"/>
    <inertia ixx="0.00221" iyy="0.002059" izz="0.000339" ixy="2.1e-05" iyz="0.000441" ixz="-0.000105"/>
  </inertial>
  <visual>
    <origin xyz="0.10186 -2.7e-05 0.000256" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find biped_description)/meshes/biped_280/visual/l_hip_roll__1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
   <origin xyz="0.10186 -2.7e-05 0.000256" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find biped_description)/meshes/biped_280/visual/l_hip_roll__1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </collision>
</link>

<link name="l_knee_link_1">
  <inertial>
    <origin xyz="-0.0195 -0.0292 -0.0934" rpy="0 0 0"/>
    <mass value="0.10721414059204377"/>
    <inertia ixx="0.000512" iyy="0.000465" izz="5.9e-05" ixy="-2e-06" iyz="-0.000141" ixz="-5e-06"/>
  </inertial>
  <visual>
    <origin xyz="0.149344 -0.06395 0.222442" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find biped_description)/meshes/biped_280/visual/l_knee_link_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.149344 -0.06395 0.222442" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find biped_description)/meshes/biped_280/visual/l_knee_link_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </collision>
</link>

<link name="l_foot_link__1">
  <inertial>
    <origin xyz="0 0.00001 -0.007" rpy="0 0 0"/>
    <mass value="0.01758935163575521"/>
    <inertia ixx="1.4e-05" iyy="1e-06" izz="1.4e-05" ixy="0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.169344 -8.8e-05 0.427015" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find biped_description)/meshes/biped_280/visual/l_foot_link__1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.169344 -8.8e-05 0.427015" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find biped_description)/meshes/biped_280/visual/l_foot_link__1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </collision>
</link>

<link name="r_hip_link_1">
  <inertial>
    <origin xyz="0.0219 0.0369 3.38e-05" rpy="0 0 0"/>
    <mass value="0.2383999109745883"/>
    <inertia ixx="0.000111" iyy="8.4e-05" izz="0.00011" ixy="-1e-05" iyz="0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.00014 0.04025 0.0003" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find biped_description)/meshes/biped_280/visual/r_hip_link_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
   <origin xyz="0.00014 0.04025 0.0003" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find biped_description)/meshes/biped_280/visual/r_hip_link_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </collision>
</link>

<link name="r_hip_roll__1">
  <inertial>
    <origin xyz="0.0289 0.0315 -0.0777" rpy="0 0 0"/>
    <mass value="0.47783101597516553"/>
    <inertia ixx="0.00221" iyy="0.002059" izz="0.000339" ixy="-2.1e-05" iyz="0.000441" ixz="0.000105"/>
  </inertial>
  <visual>
    <origin xyz="-0.04186 -2.7e-05 0.000256" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find biped_description)/meshes/biped_280/visual/r_hip_roll__1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.04186 -2.7e-05 0.000256" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find biped_description)/meshes/biped_280/visual/r_hip_roll__1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </collision>
</link>

<link name="r_knee_link_1">
  <inertial>
    <origin xyz="0.0195 -0.0292 -0.0934" rpy="0 0 0"/>
    <mass value="0.10721414059204377"/>
    <inertia ixx="0.000512" iyy="0.000465" izz="5.9e-05" ixy="2e-06" iyz="-0.000141" ixz="5e-06"/>
  </inertial>
  <visual>
    <origin xyz="-0.089344 -0.06395 0.222442" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find biped_description)/meshes/biped_280/visual/r_knee_link_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.089344 -0.06395 0.222442" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find biped_description)/meshes/biped_280/visual/r_knee_link_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </collision>
</link>

<link name="r_foot_link__1">
  <inertial>
    <origin xyz="0 0.00001 -0.007" rpy="0 0 0"/>
    <mass value="0.01758928525196201"/>
    <inertia ixx="1.4e-05" iyy="1e-06" izz="1.4e-05" ixy="0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.109344 -8.8e-05 0.427015" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find biped_description)/meshes/biped_280/visual/r_foot_link__1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.109344 -8.8e-05 0.427015" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find biped_description)/meshes/biped_280/visual/r_foot_link__1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </collision>
</link>

<joint name="l_abduction" type="revolute">
  <limit lower="-2.5" upper="0.0" effort="50" velocity="5"/>
  <origin xyz="-0.05986 -0.04025 -0.0003" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="l_hip_link_1"/>
  <axis xyz="0.0 1.0 0.0"/>
  <dynamics damping="0.5" friction="0.1"/>
</joint>

<joint name="l_hip_roll" type="revolute">
  <limit lower="-2.5" upper="0.0" effort="50" velocity="5"/>
  <origin xyz="-0.042 0.040277 4.4e-05" rpy="0 0 0"/>
  <parent link="l_hip_link_1"/>
  <child link="l_hip_roll__1"/>
  <axis xyz="-1.0 0.0 0.0"/>
  <dynamics damping="0.5" friction="0.1"/>
</joint>

<joint name="l_knee_roll" type="revolute">
  <limit lower="-2.5" upper="0.0" effort="50" velocity="5"/>
  <origin xyz="-0.047484 0.063923 -0.222186" rpy="0 0 0"/>
  <parent link="l_hip_roll__1"/>
  <child link="l_knee_link_1"/>
  <axis xyz="-1.0 0.0 0.0"/>
  <dynamics damping="0.5" friction="0.1"/>
</joint>

<joint name="l_foot_roll" type="revolute">
  <limit lower="-2.5" upper="0.0" effort="50" velocity="5"/>
  <origin xyz="-0.02 -0.063862 -0.204573" rpy="0 0 0"/>
  <parent link="l_knee_link_1"/>
  <child link="l_foot_link__1"/>
  <axis xyz="-1.0 0.0 0.0"/>
  <dynamics damping="0.5" friction="0.1"/>
</joint>

<joint name="r_abduction" type="revolute">
  <limit lower="-2.5" upper="0.0" effort="50" velocity="5"/>
  <origin xyz="-0.00014 -0.04025 -0.0003" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="r_hip_link_1"/>
  <axis xyz="0.0 1.0 0.0"/>
  <dynamics damping="0.5" friction="0.1"/>
</joint>

<joint name="r_hip_roll" type="revolute">
  <limit lower="-2.5" upper="0.0" effort="50" velocity="5"/>
  <origin xyz="0.042 0.040277 4.4e-05" rpy="0 0 0"/>
  <parent link="r_hip_link_1"/>
  <child link="r_hip_roll__1"/>
  <axis xyz="1.0 0.0 0.0"/>
  <dynamics damping="0.5" friction="0.1"/>
</joint>

<joint name="r_knee_roll" type="revolute">
  <limit lower="-2.5" upper="0.0" effort="50" velocity="5"/>
  <origin xyz="0.047484 0.063923 -0.222186" rpy="0 0 0"/>
  <parent link="r_hip_roll__1"/>
  <child link="r_knee_link_1"/>
  <axis xyz="1.0 0.0 0.0"/>
  <dynamics damping="0.5" friction="0.1"/>
</joint>

<joint name="r_foot_roll" type="revolute">
  <limit lower="-2.5" upper="0.0" effort="50" velocity="5"/>
  <origin xyz="0.02 -0.063862 -0.204573" rpy="0 0 0"/>
  <parent link="r_knee_link_1"/>
  <child link="r_foot_link__1"/>
  <axis xyz="-1.0 0.0 0.0"/>
  <dynamics damping="0.5" friction="0.1"/>
</joint>

</robot>